<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>运动曲线/Animation - Galacean Effects Components Demo</title>
  <style>
    html, body, div, canvas { margin: 0; padding: 0; }
    .container {
      width: 375px;
      height: 812px;
      background-color: rgba(0, 0, 0, 255);
    }
    @media (max-width: 719px) {
      html, body, .container {
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }
  </style>
</head>
<body>
  <div class="container" id="J-container"></div>
  <script type="module" src="./index.ts"></script>
</body>
</html>
